
html{
        background-image: url(phon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body{
    padding: 0%;
    height: 100%;
    width: 100%;
    margin: 0%;
}
.content-1{
    font-size: 50px;
    font-family:'Arial', serif;
    color: balck
}
.text{
    position: relative;
    margin-top: 15%;
    text-align: center;
}
.text-1{
    text-align: center;
}
.button-2{
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 160px;
    line-height: 160px;
    padding: 0 15px;
    font-family: monospace;
    font-size: 50px;
    color: #232323;
    margin-top: 100px;
}
.button-2 span {
    position: relative;
}
.button-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background: #C4F1FF;
    transition: .3s ease-in-out;
}
.button-2:hover:before {
    width: 100%;
}
.contentx{
    position:relative;
    top: 20px;
    margin:0px auto;
    background-color: none;
    z-index: 1;
    height:405px;
   }
.photo-1{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;

}   
.rez{
    font-family: 'Open Sans', sans-serif;
    margin-left: 45%;
    padding-right: 5%;
    font-size: 32px;
    text-align: left;
    width: 50%;
    padding-top: 5%;
   }
   .button-3{
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    font-family: monospace;
    font-size: 25px;
    color: #232323;
    margin: 15px 0 15px 50%;
}
.button-3 span {
    position: relative;
}
.button-3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background: #C4F1FF;
    transition: .3s ease-in-out;
}
.button-3:hover:before {
    width: 100%;
}
.workblock{
    border: 2px solid #000;
    display: block;
    width: 97%;
    height: 50px;
    margin: 10px -100px 10px 10px;
}
.contener{
    text-align: center;
}
.bbody{
    height: 1080px;
}
.doc{
    width: 360px;
}
ul {
    list-style: none;
 }
.topmenu {
    background: rgba(255, 255, 255, 0);
 }
 
 .topmenu a {
    text-decoration: none;
    display: block;
    transition: .4s ease-in-out;
 }
 
 .topmenu>li>a {
    padding: 20px;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
 }
 
 .topmenu li a:hover {
    color: #944b51;
 }
 .submenu li a {
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    color: #484848;
    font-family: 'Kurale', serif;
 }
 

 @media(min-width: 600px) {
    .topmenu {
       width: 100%;
       display: flex;
       justify-content: center;
    }
    .topmenu>li {
       position: relative;
    }
    .topmenu>li:after {
       content: "";
       position: absolute;
       right: 0;
       width: 1px;
       height: 12px;
       background: #d2d2d2;
       top: 24px;
       box-shadow: 4px -2px 0 #d2d2d2;
       transform: rotate(30deg);
    }
    .topmenu>li:last-child:after {
       background: none;
       box-shadow: none;
    }
    .submenu {
        padding: 0;
       position: absolute;
       left: 50%;
       top: 100%;
       width: 210px;
       margin-left: -100px;
       background: #fafafa;
       border: 1px solid #ededed;
       z-index: 5;
       visibility: hidden;
       opacity: 0;
       transform: scale(.8);
       transition: .4s ease-in-out;
    }
    .topmenu>li:hover .submenu {
       visibility: visible;
       opacity: 1;
       transform: scale(1);
    }
    .submenu li a {
       text-align: center;
       padding: 10px 0;
       margin: 0 10px;
    }
 }