
html{
        background-image: url(phon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body{
    padding: 0%;
    height: 100%;
    width: 100%;
    margin: 0%;
}
.content-1{
    font-size: 50px;
    font-family:'Arial', serif;
    color: balck
}
.text{
    position: relative;
    margin-top: 15%;
    text-align: center;
}
.text-1{
    margin-top: 5%;
    text-align: center;
    position: relative;
}
.button-2{
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 160px;
    line-height: 160px;
    padding: 0 15px;
    font-family: monospace;
    font-size: 50px;
    color: #232323;
    margin-top: 100px;
}
.button-2 span {
    position: relative;
}
.button-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background: #C4F1FF;
    transition: .3s ease-in-out;
}
.button-2:hover:before {
    width: 100%;
}
.contentx{
    position:relative;
    top: 20px;
    margin:0px auto;
    background-color: none;
    z-index: 1;
    height:100%;
   }
.photo-1{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;

}   
.rez{
    font-family: 'Open Sans', sans-serif;
    margin-left: 45%;
    padding-right: 5%;
    font-size: 32px;
    text-align: left;
    width: 50%;
    padding-top: 5%;
   }
   .button-3{
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    font-family: monospace;
    font-size: 25px;
    color: #232323;
    margin: 15px 0 15px 50%;
}
.button-3 span {
    position: relative;
}
.button-3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background: #C4F1FF;
    transition: .3s ease-in-out;
}
.button-3:hover:before {
    width: 100%;
}
.workblock{
    border: 2px solid #000;
    display: block;
    width: 97%;
    height: 50px;
    margin: 10px -100px 10px 10px;
}
.contener{
    text-align: center;
}


.sp {
    width: 240px;
    margin: 0px 0 0 50%;
    background-color: #E64A19;
}
.sp ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

.sp ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #E64A19;
    }

.sp a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:32px;
    line-height: 60px;
    text-decoration:none;
}

.sp a:hover {
    background-color: #000000;
}

.sp ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.sp ul li:hover > ul {
    display:inherit;
}

.sp ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

.sp ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}
.bbody{
    height: 1080px;
}
table{
    text-align: center;
    margin: 10px auto;
}
.doc{
    width: 360px;
}
td{
padding: 10px;
}